{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}

    <h3 class="mt-4">Lista de Pacientes</h3>

    <table class="table table-bordered table-striped mt-3" id="tabelaClientes">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nome }}</td>
                <td>{{ c.cpf }}</td>
                <td>{{ c.telefone }}</td>
                <td>
                    <button onclick="deletarCliente('{{ c.id }}')" class="btn btn-danger btn-sm">Apagar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/clientes.js') }}"></script>

{% endblock %}