{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <h1>Lista de Usuarios</h1>

    <table class="table table-striped" id="tabelaUsuarios">
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
             {% for u in usuarios %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.nome }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <a href="/usuarios/{{ u.id }}/deletar" class="btn btn-danger btn-sm" onclick="delete_usuario()">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}