<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-box p-4 shadow rounded bg-white">
            <h2 class="text-center mb-4mm2n">Login</h2>

            <form id="loginForm">
                <div class="mb-3">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>

            {% if erro %}
            <p class="text-danger mt-3 text-center">{{ erro }}</p>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
<script src="{{ url_for('static', filename='/bootstrap/bootstrap.bundle.min.js') }}"></script>

</html>